@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --header-height: 3.5rem;
  --first-color: rgb(233, 222, 28);
  --first-color-shape: rgb(230, 232, 82);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --container-color: hsl(0, 0%, 100%);
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(273, 21%, 56%);
  --container-color-dark: hsl(273, 80%, 14%);
  --body-font: "roboto", sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: 813rem;
  --z-fixed:100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}
.section_height {
  height: 100vh;
}

.nav {
  background-color: var(--container-color-dark);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.nav_shape {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-shape);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 2rem;
  left: -2rem;
  -webkit-filter: blur(90px);
          filter: blur(90px);
}
.nav_close {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}
.nav_img {
  width: 80px;
}
.nav_mask {
  width: 80px;
  height: 80px;
  background: -webkit-linear-gradient(226deg, hsl(277deg, 81%, 55%) -2%, hsl(277deg, 97%, 83%) 97%);
  background: -moz-linear-gradient(226deg, hsl(277deg, 81%, 55%) -2%, hsl(277deg, 97%, 83%) 97%);
  background: -o-linear-gradient(226deg, hsl(277deg, 81%, 55%) -2%, hsl(277deg, 97%, 83%) 97%);
  background: linear-gradient(224deg, hsl(277deg, 81%, 55%) -2%, hsl(277deg, 97%, 83%) 97%);
  -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
          border-radius: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 1rem;
}
.nav_data {
  position: relative;
  margin-bottom: 3rem;
}
.nav_saludo {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--normal-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.nav_name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}
.nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}
.nav_link {
  color: var(--container-color);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.nav_link i {
  font-size: 1.15rem;
}
.nav_link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.header_nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo, .header_toggle {
  color: var(--title-color);
}
.header_logo {
  font-weight: 600;
}
.header_toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

.show-menu {
  -webkit-transform: translate(60%);
     -moz-transform: translate(60%);
      -ms-transform: translate(60%);
       -o-transform: translate(60%);
          transform: translate(60%);
}

/*.scroll-header {
    box-shadow: 0 1px 4px hsla(0,4%,15%,.1);
}
.active-link{
    color: var(--title-color-dark);
}*/
@media screen and (max-width: 640px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .show-menu {
    -webkit-transform: translate(40%);
       -moz-transform: translate(40%);
        -ms-transform: translate(40%);
         -o-transform: translate(40%);
            transform: translate(40%);
  }
}
@media screen and (max-width: 1023px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .show-menu {
    -webkit-transform: translate(30%);
       -moz-transform: translate(30%);
        -ms-transform: translate(30%);
         -o-transform: translate(30%);
            transform: translate(30%);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header_nav {
    height: -webkit-calc(var(--header-height) + 1.5rem);
    height: -moz-calc(var(--header-height) + 1.5rem);
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav_shape {
    width: 350px;
    height: 350px;
  }
  .nav_mask {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 2rem;
       -moz-border-radius: 2rem;
            border-radius: 2rem;
    border-bottom: 2rem;
  }
  .nav_img {
    width: 100px;
  }
  .nav_link {
    font-size: --big-font-size;
  }
  .nav_link_span {
    font-size: 2rem;
  }
  .show-menu {
    -webkit-transform: translate(40%);
       -moz-transform: translate(40%);
        -ms-transform: translate(40%);
         -o-transform: translate(40%);
            transform: translate(40%);
  }
}/*# sourceMappingURL=main.css.map */